<span vocab="http://schema.org/" typeof="MusicPlaylist">
    <h1>
        <span property="name">Top50 Spain</span>
            (<a href="/playists/edit/1/"> edit</a>)
        </h1>
        <h2>
            Track
                (<a  href="/playlists/song_create_ajax/"> add</a>)
        </h2>
        <ul>
            <li>
                <a  href="/playlists/searcher/">
                    Safaera
                </a>
            </li>
            <li>
                <a  href="/playlists/searcher/">
                    Diosa
                </a>
            </li>
            <li>
                <a  href="/playlists/searcher/">
                    Dance Monkey
                </a>
            </li>
            <li>
                <a  href="/playlists/searcher/">
                    Nunca Estoy
                </a>
            </li>
            <li>
                <a  href="/playlists/searcher/">
                    PA' ROMPERLA
                </a>
            </li>
        </ul>
</span>