{% extends "base.html" %}
{% load static %}
{% block content %}
    <span vocab="http://schema.org/" typeof="MusicPlaylist">
        <h1>
            <span property="name">{{ list.name }}</span>
            (<a href="{% url 'playlist_app:list_update' list.pk %}">edit</a>)
        </h1>
        <h2>
            Track
            {%  if  user.is_authenticated  %}
                (<a  href="{%  url  'playlist_app:song_create_ajax' %}">add</a>)
            {%  endif  %}
        </h2>
        <ul>
            {%  for  song  in  list.songs.all  %}
                <li>
                    <a  href="{%  url  'playlist_app:songs_searcher'  %}">
                        {{  song.name  }}
                    </a>
                </li>
            {%empty  %}
                <li>Sorry,  no  songs  for  this  playlist  yet.</li>
            {%  endfor  %}
        </ul>
    </span>
{% endblock %}

