{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!------ Include the above in your HEAD tag ---------->
{% block content %}
    <div class="editform">
        <h1>Form</h1>
    <form action="" method="post">
    {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Guardar">
    </form>
    </div>
{% comment %}
    <form>
        <div class="container py-2">
            <div class="row">
                <div class="col">
                    <p>
                    <label for="exampleInputNewSong">New Song</label>
                    </p>
                    <label for="exampleInputName">Name</label>
                    <input type="name" class="form-control" id="exampleInputSong" aria-describedby="NameHelp" placeholder="Enter song name">
                    <p></p>
                    <label for="exampleInputLenght">Lenght</label>
                    <input type="length" class="form-control" id="exampleInputSong" aria-describedby="LenghtHelp" placeholder="Enter song lenght">

                </div>
            </div>
        </div>
    </form>
{% endcomment %}
{% endblock %}
