{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!------ Include the above in your HEAD tag ---------->
{% block content %}
    <div class="editform">
        <h1>Playlists</h1>
    <form action="" method="post">
    <div class="container">
      <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'playlist_app:playlist_create' %}">Crear nova llista</a>
            </form>
        </div>

      </div>
    </div>
    </form>
    </div>
{% endblock %}

