{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Playlists</h1>
    <div class="container">
        <a href="{% url 'playlist_app:playlist_create' %}">Crear nova llista</a>
        {% if list %}

            <div class="list-group bg-info" >
                {% for l in list %}
                    <a class="list-group-item list-group-item-info">
        {#               href="{{ song.get_absolute_url }}">#}
                        {{ l }}
                    </a>
        {#                <span class="badge">{{ song.move_set.count }}</span>#}

                {% endfor %}
            </div>


        {% else %}

            No hi ha llistes.

        {% endif %}
    </div>
{% endblock %}

