{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!------ Include the above in your HEAD tag ---------->
{% block content %}
    <h1>
        songs
        {% if user.is_authenticated %}(<a href="{% url 'playlist_app:song_create' %}">add</a>){% endif %}

    </h1>
    {% if songs_list %}

    <div class="list-group bg-info" >
        {% for song in songs_list %}
            <a class="list-group-item list-group-item-info">
               href="{{ list.get_absolute_url }}"
                {{ song }}
            </a>
{#                <span class="badge">{{ song.move_set.count }}</span>#}

        {% endfor %}
    </div>


{% else %}

    No hi ha cançons.

{% endif %}

{% endblock %}
