{% extends "base.html" %}

{% block page_content %}
<div class="detail">
    <h1>{{ llista.name }}</h1>
    <p style="padding-left: 315px; margin-top: -45px;"><a class="btn btn-outline-info" href="/playlists/{{llista.pk}}/edit/" role="button">Editar</a></p>
    {% if llista.songs.exists %}
        <h2>Cançons:</h2>

        {% for song in llista.songs.all %}
            <ul>{{ song.name }}</ul>

        {% endfor %}
    {% else %}
        <p>No hi ha cançons</p>
    {% endif %}

</div>
{% endblock %}